{% extends "_layouts/base.html" %}

{% block body %}
  <div class="content">
    <strong>Olá, {{ name }}</strong>
    <p>Neste site você pode escolher este os vários aplicativos que temos disponíveis para usar a vontade!</p>
    <p>Escolha um para começar:</p>

    <ul class="providers">

      <li class="provider">
        <div>
          <strong>Lista de Afazeres</strong>
        </div>
        <a href="/todolist">Ir</a>
      </li> 
      
      <li class="provider">
        <div>
          <strong>Blockchain</strong>
        </div>
        <a href="/blockchain">Ir</a>
      </li>

      <li class="provider">
        <div>
          <strong>Gerador aleatório de palavras</strong>
        </div>
        <a href="/gerador-aleatorio">Ir</a>
      </li>

      <li class="provider">
        <div>
          <strong>Calculadora de IMC</strong>
        </div>
        <a href="/imc">Ir</a>
      </li>

      <li class="provider">
        <div>
          <strong>Criptografia Vigenere</strong>
        </div>
        <a href="/vigenere">Ir</a>
      </li>
            

    </ul>

    <a href="/logout" class="logout">Sair</a>
  </div>
{% endblock %}